{% macro hiding_control(class, hide=False) %}
<i class="fa fa-fw fa-chevron-right {{ class }} control_on_hidden" {% if not hide %}style="display: none"{% endif %}></i><i class="fa fa-fw fa-chevron-down {{ class }} control_on_showed" {% if hide %}style="display: none"{% endif %}></i>
{% endmacro %}

{% macro format_output(output, name, status, total, default_hide=False) %}
  {% if output %}

    <div class="panel panel-{{ status }} {% if default_hide %}hide_control{% endif %}">
      <div class="panel-heading"><h3>{{ hiding_control('hide_control', default_hide)|safe }} {{ name }} {{ output | length }} / {{ total }}</h3></div>
      <div class="list-group">
        {% for step_name, step in output.items() %}
          <a class="list-group-item list-group-item-{{ status }}">
            <h4> {{hiding_control('hide_control', True)|safe }} {{ step_name }}</h4>
            <ul class="sync-status-hidden">
              {% for k, v in step.items() %}<li>{{ k.decode('utf-8') }}: {{ (v|string()).decode('utf-8') }}</li>{% endfor %}
            </ul>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro panel_jsontree(heading_title, content, hide=True, heading_level=3) %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h{{ heading_level }}>{{hiding_control('hide_control', hide)|safe }} {{ heading_title }}</h{{ heading_level }}>
  </div>
  <div class="panel-body jsontree" {% if hide %}style="display: none"{% endif %}>{{ content|tojson|safe }}</div>
</div>
{% endmacro %}

{% macro panel_jsontree_js() %}
$("div.panel-heading i.hide_control").click(function(event) {
  $(this).parents("div.panel").first().find(".panel-body").toggle();
  $(this).parent().find("i.fa").toggle();
});
{% endmacro %}

{% macro render_trees() %}
$("div.jsontree").each(function() {
  var tree = JSONTree.create(JSON.parse($(this).text()));
  $(this).html(tree);
});
{% endmacro %}
