{% extends "base_logged.html" %}

{% macro format_output(output, name, status, total, default_hide=False) %}
  {% if output %}
    <div {% if default_hide %}class="hide_control"{% endif %}>
      <h2 {% if default_hide %}class="hide_control"{% endif %}>{% if default_hide %}<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down" style="display: none"></i>{% endif %} {{ name }} {{ output | length }} / {{ total }}</h2>
      <div class="list-group {{ dic_class }}">
        {% for step_name, step in output.items() %}
          <a class="list-group-item list-group-item-{{ status }}">
            <h4><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down" style="display: none"></i> {{ step_name }}</h4>
            <ul class="sync-status-hidden">
              {% for k, v in step.items() %}<li>{{ k.decode('utf-8') }}: {{ (v|string()).decode('utf-8') }}</li>{% endfor %}
            </ul>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% block page %}
<div id="page-wrapper">

<div class="row">
  <div class="col-lg-12">
    <h1>Minion {{ minion }} <small>Sync Status</small></h1>
    <ol class="breadcrumb">
      <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> SaltPad</a></li>
      <li><a href="{{ url_for('minions_status') }}"><i class="fa fa-cloud"></i> Minions Status</a></li>
      <li class="active"><i class="fa fa-cloud"></i> Minion {{ minion }}</li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  {% if not job %}
  <div class="col-lg-12">
    <div class="alert alert-info">
      <h1>Status checking is running on {{ minion }}, please wait !</h1>
    </div>
  </div>
  {% else %}
    {% set total = job[False] | length + job[None] | length + job[True] | length %}
    {% if job[False] %}{% set level="danger" %}{% elif job[None] %}{% set level="warning" %}{% else %}{% set level="success" %}{% endif %}
    <div class="col-lg-12">
      <div class="alert alert-{{ level }}">
        <h2>{{ total }} steps: {{ job[False] | length }} in errors, {{ job[None] | length }} in warning and {{ job[True] | length }} in success. </h2>
      </div>
    </div>
    {{ format_output(job[False], 'Errors', 'danger', total) }}
    {{ format_output(job[None], 'Warnings (changes)', 'warning', total) }}
    {{ format_output(job[True], 'Success', 'success', total, True) }}
  {% endif %}
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script type="text/javascript">
$(function() {
  $(".list-group-item").click(function(event) {
    $(this).find(".sync-status-hidden").toggle();
    $(this).find("h4 i.fa").toggle();
  });
  $("h2.hide_control").click(function(event) {
    $(this).parent().find("div.list-group").toggle();
    $(this).find("i.fa").toggle();
  });
});
</script>
{% endblock %}
