{
    "API_URL": "localhost:5417", 
    "SECURE_HTTP": false, 
    "templates": { 
        "basic": { 
            "description": "Basic template", 
            "matcher": "glob",
            "target": "*",
            "moduleFunction": "test.fib",
            "arguments": {
                "num": 10
            }
        },

        "version": {
            "description": "Basic version",
            "matcher": "glob",
            "target": "Celeste",
            "moduleFunction": "test.version",
            "arguments": {}
        }
    },
    "EAUTH": "pam", # The configured external_auth system
    "FLAVOUR": "rest_cherrypy", # The netapi implementation configured on salt-master
    "PATH_PREFIX": "/", # The prefix of saltpad url
}
