.list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}

.list-group-item-error {
    background-color: #c20000;
}

.list-group-item-error a {
    color: black;
}

.list-group-item-warning {
    background-color: #fcf8e3;
}

.list-group-item-success {
    background-color: #dff0d8;
}

.list-group-item-info {
    background-color: #d9edf7;
}

.list-group-item ul.sync-status-hidden {
    display: none;
}

.alert-error {
  background-color: #c20000;
}

.alert-error a {
    color: black;
}

h2.hide_control {
    cursor: pointer;
}

div.hide_control > div.list-group {
    display: none;
}

i.hide_control {
    cursor: pointer;
}
